<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="daoBean" class="com.eduix.spring.demo1.beans.DaoBean">
	</bean>

	<bean id="serviceBean" class="com.eduix.spring.demo1.beans.ServiceBean">
		<property name="dao" ref="daoBean" />
	</bean>

</beans>