.historic {
    background-color: #CCC;
    color: #444;
}

#pastAnswers{
	float:right;
}

#csstest{
	color: #F00;
}

#jstest{
	transition: opacity 0.5s;
}

#pastAmntOAnsws{
	float:right;
}

.chart{
	height:300px;
	width:600px;
	border: 1px solid #888;
	border-radius: 5px;
}

#questionButton {
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    overflow: hidden;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s; /* Safari */
}

#questionButton {
    background-color: white;
    border: 2px solid #e7e7e7;
    color: black;
  	width: 360px;    
}

#questionButton:hover {background-color: #e7e7e7;}
