.historic {
    background-color: #CCC;
    color: #444;
}

#pastAnswers{
	float:right;
}

#pastAmntOAnsws{
	float:right;
}

.chart{
	height:300px;
	width:600px;
	border: 1px solid #888;
	border-radius: 5px;
}

#questionButton {
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    overflow: hidden;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s; /* Safari */
}

#questionButton {
    background-color: white;
    border: 2px solid #e7e7e7;
    color: black;
  	width: 360px;    
}

#questionButton:hover {background-color: #e7e7e7;}

.input-number, .input-radio, .input-range{
	display:inline;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.input-label-top, .input-label-bottom, .input-label-min-val, .input-label-max-val{
    margin: auto;
    width: 20%;
    border: 3px solid red;
    padding: 10px;
}

.input-label-top{
	display:block;
}

.input-label-bottom{
	display:block;
}

.input-label-min-val{
	display:inline;
}

.input-label-max-val{
	display:inline;	
}





