<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="resourceBean" class="com.eduix.spring.demo.beans.ResourceBean">
		<property name="lorem" value="texts/lorem.txt" />
	</bean>
	
	<bean id="resourceBean2" class="com.eduix.spring.demo.beans.ResourceBean2" />
	
	<bean id="resourceBean3" class="com.eduix.spring.demo.beans.ResourceBean3" />

</beans>